

.treat-title {
}

h1 .bg-title{
    font-size: 32px;
}


.general {
    padding: 10px;
    background-color:rgb(245, 182, 99);
    border-radius: 10px;
    grid-area: 1 / 1 / 2 / 2;
}

.add-item {
    padding: 10px;
    background-color:rgb(245, 182, 99);
    border-radius: 10px;
}


.topic {
    background-color: rgb(245, 182, 99);
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.manage-item {
    height: 334px;
    background-color: rgb(245, 182, 99);
    padding: 10px;
    border-radius: 10px;
}

#create-topic {
    margin-top: 5px;
    margin-bottom: 5px;
}

#create-trealet {
    margin-top: 5px;
    margin-bottom: 5px;
}

.manage-topic {
    height: 334px;
    background-color: rgb(245, 182, 99);
    padding: 10px;
    border-radius: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.item-list {
    margin-top: 15px;
    overflow: auto;
    height: 70%;
}
.item-card {
    display: flex;
    align-items: center;
}

.item-card #delete {
    right: 5px;
}
.item-card b {
    margin: auto auto;
    width: 60%;
    align-items: baseline;
    overflow: hidden;
}
.list-group-item {
    margin-top: 2px;
    margin-bottom: 2px;
}

.topic-list {
    margin-top: 15px;
    overflow: auto;
    height: 70%;
}
.topic-card {
    display: flex;
    align-items: center;
}

.topic-card .delete {
    right: 5px;
}
.topic-card b {
    margin: auto auto;
    width: 60%;
    align-items: baseline;
    overflow: hidden;
}
.topic-group-item {
    margin-top: 2px;
    margin-bottom: 2px;
}

.topic-id {
    max-width: 200px;
    overflow: auto;
}
#create-trealet {
    margin-top: 5px;
}

li .badge {
    margin: auto auto;
}

.myContainer {
    width: 70%;
    background-color: #7E9C6F;
    border-radius: 15px;
    margin: 50px auto auto auto;
}

h1 {
    font-weight: bold;
    display: flex;
    margin: auto auto;
}

.bg-title {
    font-size: 24px;
    color: white;
    margin: auto auto;

    
}

@media only screen and (max-width: 800px) {
    .myContainer {
    }
    .general {
        grid-area: 1;
    }
    .manage-item {
        grid-area: 3;
    }
    .add-item {
        grid-area: 2;
    }
}


#description-form {
    height: 150px;
    text-overflow: wrap;
}

.my-bg-btn {
    background-color: #874526;
    color: white;
}

.my-bg-badge {
    background-color: #7E9C6F;
    color: white;
    width: 100%;
    overflow: auto;
}
